html {
  scroll-behavior: smooth;
}


.inner {
  max-width: 100%;
  width: 990px;
  margin: 0 auto;
}

.sec_title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 200px;
}







//header
#header {
  margin-bottom: 90px;
  width: 990px;
  min-width: 990px;
& .top_1{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 80px;
  & ul {
    display: flex;
    list-style: none;
    & li {
      margin-right: 10px;
      & img {
        width: 32px;
      }
    }
  }
}
& .top_2 {
  margin-top: 40px;
  & ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    & li {
      margin-right: 40px;
      &:last-child {
        margin-right: 20px;
      }
    }
  }
}
& a{
  color: black;
  text-decoration: none;
  & h1 {
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
  }
}
}

//mainvisual

.mainvisual {
  background-color:#2b2b221c;
  min-width: 990px;
& .block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 990px;
  margin: 0 auto;
  & .self_introduction {
    font-size: 1.5rem;
    & dt {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
  & img {
    border-radius: 50%;
    width: 200px;
    height: 220px;
    object-fit: cover;
    margin-left: 40px;
  }
}
}

//works
#works{
  min-width: 990px;
  & .portfolio { 
    list-style: none;
    & li {
      box-sizing:  border-box;
      border: 1px solid #e0e0e0;
      vertical-align: bottom;
      width: 30%;
      margin-top: 40px;
      margin-right: 40px;
      display: inline-block;
     &:nth-child(3n) {
       margin-right:0;
     }
     & a{
      & img {
        width: 100%;
        height: 280px;
        object-fit: cover;
      }
    }
    }
  }
}

//skill

#skill {
  min-width: 990px;
  & #skill_box {
    display: flex;
    justify-content: space-between;
   & .skill, .tool {
     & h3 {
       font-size: 3rem;
       font-family: "Open Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
     }
     & li {
       font-size: 2rem;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       margin-bottom: 30px;
     }
   }
  }
}

//footer
#footer {
  margin-top: 140px;
  min-width: 990px;
  .arrow {
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-color: #565656 #565656 transparent transparent;
    transform: rotate(-45deg);
    margin: 0 auto;
  }
  & #footer_box{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    & ul {
      display: flex;
      list-style: none;
      & li {
        margin-right: 30px;
        & a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}


@media screen and (max-width:760px) {
  // header
  #header {
    & .top_1 {
      & ul {
        & li {
          display: none;
        }
      }
    }
    & .top_2 {
      & ul {
        & li {
          display: none;
        }
      }
    }
    & .menuButton {
      display: block;
      height: 150px;
      width: 150px;
      background:#5B5B5B;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 3;
      & div {
        height: 1px;
        width: 60%;
        background:#ccc;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition:  0.3s;
        transform-origin: 0% 50%;
        &:nth-of-type(1) {
          transform: translate(-50%,-30px);
        }
        &:nth-of-type(3) {
          transform: translate(-50%,30px);
        }
      }
      &.active {
        & div:nth-of-type(1) {
         transform: rotate(45deg) translate(-50%,0); 
        //  transform-origin: 0% 50%;
        }
        & div:nth-of-type(2) {
          opacity: 0;
        }
        & div:nth-of-type(3) {
          transform: rotate(-45deg) translate(-50%,0); 
         }
      }
    }
    & nav {
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      position: fixed;
      top: 0;
      right: 0;
      background-color: #5B5B5B;
      width: 400px;
      height: 100%;
      z-index: 2;
      & ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        height: 100%;
        font-size: 3rem;
        list-style: none;
        & li:not(:first-of-type) {
          margin-top: 30px;
        }
      }
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
    .mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0;
      visibility: hidden;
      z-index: 1;
      transition: .3s;
      &.active {
        opacity: 0.7;
        visibility: visible;
      }
    }
  }
  // works
  


}
@media screen and (min-width:761px) {
  #nav {
    display: none;
  }
}