.wrapper {
  width: 70%;
  max-width: 100%;
  margin: 0 auto;
}

.sec_title {
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sec_title_2 {
  font-size: 2.8rem;
  border-bottom: solid black ;
  padding-bottom: 10px;
}

img {
  width:100%;
  vertical-align: bottom;
  border:solid black 3px;
}

//main 
main {
  & .period {
    & dl {
      & dt {
        font-size: 1.8rem;
      }
      & dd {
        font-size: 1.4rem;
        font-family:"クレー";
      }
    }
  }
  & .tool {
    & ul {
      list-style: none;
      font-family: "クレー";
      font-size: 1.4rem;
      & li:first-child {
        margin-top: -30px;
      }
    }
  }
  & .access {
    margin-top: 15px;
    & a {
      padding: 8px 11px 11px;
      background-color: #4c4c4c;
      border:#4c4c4c solid 1px;
      color:  #dcdcdc;
      font-size: 1.3rem;
      transition:  all 0.2s ease-in-out;
      text-decoration: none;
      margin-left: 20px;
      &:hover {
        background-color: #dcdcdc;
        color: #4c4c4c;
      }
    }
  }
  & p {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
  }
}

#footer {

}